.form {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.form form {
    max-width: 80%;
    background-color: var(--dark_blue);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.50);
}

.form h2 {
    font-family: "Fira-Bold";
    text-align: center;
}

.form label {
    font-family: "Fira-Bold";
    font-size: 28px;
}