.team {
    text-align: center;
    padding: 32px;
    margin-top: 32px;
}

.team_title {
    font-family: "vava";
    font-size: 32px;
    border-bottom: 4px solid var(--red);
    display: inline-block;
}

.players {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}