.player {
    position: relative;
    width: 280px;
}

.player_header {
    background-color: var(--dark_red);
    border-radius: 10px 10px 0px 0px;
}

.player_img {
    /* width: 100px; */
    background-color: var(--background);
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.player_footer {
    background: var(--background);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.player_name {
    color: green;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.player_agent {
    color: var(--grey);
    font-size: 18px;
    line-height: 22px;
    padding: 0 16px;
}

p.player_role {
    color: var(--red);
    font-family: "Fira-Bold";
}

.delete {
    font-family: "vava";
    position: absolute;
    right: -10px;
    top: -10px;
    color: var(--grey);
    background-color: var(--background);
    padding: 3px 6px;
    border-radius: 8px;
    cursor: pointer;
}

.delete:hover {
    font-weight: bold;
    color: var(--red);
}

.delete:active {
    color: var(--background);
    background-color: var(--red);
}